.layout-header {
  position: fixed;
  z-index: 30;
  width: 100vw;
}

.layout-main {
  overflow: auto;
}

.layout-main-content {
  display: flex;
  flex-direction: column;
}

.layout-main-content-body {
  padding: 24px;
  flex: 1;
}

.ant-layout-header {
  background-color: #fff !important;
  border-bottom: 1px solid #d2d7e3;
  padding: 16px 24px !important;
  line-height: inherit !important;
}

.ant-layout-footer {
  padding: 12px 50px !important;
  text-align: center;
  font-size: 12px !important;
}

.ant-input[type='text'],
.ant-input[type='email'],
.ant-input[type='number'] {
  background: #fff !important;
}

.ant-input-status-error {
  background: #fff !important;
}

.ant-form-item-row {
  flex-direction: column !important;
  align-items: start !important;
}

.ant-form-item-control {
  width: 100% !important;
}

.ant-form-item-label {
  font-weight: 600;
}

.ant-form-item-label > label::after {
  display: none;
}

.ant-form-item-label > .ant-form-item-required::after {
  display: block;
  content: '*' !important;
  color: #e13f5e !important;
}

.ant-form-item-label > .ant-form-item-required::before {
  display: none !important;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: rgb(225 63 94 / 5%) !important;
}

.ant-tabs-nav-list {
  font-size: 24px;
  font-weight: bold;
}

.ant-card-head .ant-card-head-title {
  padding: 8px 0;
  font-weight: bold;
  font-size: 16px;
}

.ant-card-head .ant-card-extra {
  padding: 8px 0;
}

.ant-select-selection-overflow {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}

.ant-input.bordered {
  border: 1px solid #d9d9d9;
}

.ant-card-body > .ant-table-wrapper .ant-table-cell:first-of-type {
  padding-left: 24px;
}

.ant-card-body > .ant-table-wrapper .ant-table-cell:last-of-type {
  padding-right: 24px;
}

.ant-input[type='date'] {
  background: transparent;
}
