@import './vendor/nprogress.css';

body a:hover {
  color: #e13f5e;
}

a.link {
  position: relative;
  z-index: 0;
}

a.link:hover {
  color: black;
}

a.link::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 28%;
  bottom: 5%;
  left: 0;
  right: 0;
  background: #ffc1cd;
  opacity: 0.5;
  transition: all 0.12s ease-in-out;
}

a.link:hover::before {
  height: 100%;
  bottom: 0;
}

.ant-tag a:hover,
.ant-tag a.link:hover {
  color: #e13f5e !important;
  border-bottom: none;
}

tr.inbox-row.not-read td {
  font-weight: 600;
}

.likert-scale:has(.ant-radio-button-wrapper-checked) .ant-radio-button-wrapper {
  opacity: 0.3;
}

.likert-scale .ant-radio-button-wrapper:hover,
.likert-scale .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  opacity: 1;
}
