@import './vendor/nprogress.css';

body a:hover {
  color: #e13f5e;
}

tr.inbox-row.not-read td {
  font-weight: 600;
}

.likert-scale:has(.ant-radio-button-wrapper-checked) .ant-radio-button-wrapper {
  opacity: 0.3;
}

.likert-scale .ant-radio-button-wrapper:hover,
.likert-scale .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  opacity: 1;
}
