@import './vendor/nprogress.css';

body a:hover {
  color: #e13f5e;
}

a.link:hover {
  color: #e13f5e;
  border-bottom: 1px solid currentcolor;
}

.ant-tag a:hover,
.ant-tag a.link:hover {
  color: #e13f5e !important;
  border-bottom: none;
}

tr.inbox-row.not-read td {
  font-weight: 600;
}

.likert-scale:has(.ant-radio-button-wrapper-checked) .ant-radio-button-wrapper {
  opacity: 0.3;
}

.likert-scale .ant-radio-button-wrapper:hover,
.likert-scale .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  opacity: 1;
}
